<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{> asignaturas/asignaturaForm}}
        </div>
        <div class="col-md-5">
            {{> asignaturas/asignaturaTabla}}
        </div>
    </div>
</div>
