<div class="container">
    <div class="row">
        <div class="col-md 5 offset-md-3">
            <div class="card card-body bg-dark p-4 text-white">
                <h4 class="text-center">Actualizar asignatura</h4>
                <form action="/asignaturas/{{asignaturas._id}}/update" method="POST">
                <div>
                    <label for="nombre">Modifica nombre:</label>
                    <input type="text" name="nombre" placeholder="Nombre" value="{{asignaturas.nombre}}" class="form-control bg-dark text-white"/>
                </div>
                <div>
                    <label for="creditos">Modifica creditos:</label>
                    <input type="text" name="creditos" placeholder="Creditos" value="{{asignaturas.creditos}}" class="form-control bg-dark text-white"/>
                </div>
                <div>
                    <label for="horas">Modifica horas:</label>
                    <input type="text" name="horas" placeholder="Horas" value="{{asignaturas.horas}}" class="form-control bg-dark text-white"/>
                </div>
                <button class="btn btn-success btn-lg mt-2">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>